#top-info {
  position:absolute;
  width:100%;
  height:50pt;
  display:none;
}

#bottom-info {
  position:absolute;
  width:100%;
  height:50pt;
  display:none;
}

#right-info {
  position:absolute;
  height:100%;
  width:50pt;
  display:none;
}

#left-info {
  position:absolute;
  height:100%;
  width:50pt;
  display:none
}

#moving{
  background:#0b0;
  height:100%,
  width:100%;
}
